body {

  box-sizing: border-box;
}

button {

  background-color: bisque;
  border: none;
  border-radius: 5px;
  padding: 1em;
  width: 20vw;
}

header {

  margin-top: 3vh;
  text-align: center;
}
.container {

  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  margin: 3vh auto;
  width: 85vh;
  height: 85vh;
}

.content {

  border: 1px solid blue;

}

